{namespace soy.miru.page}

/**
 * Admin page
 */
{template .adminRegion}
    <h1>Welcome</h1>
    <p>Miru Admin is Jive's internally-facing interface for gaining visibility into and controlling Miru clusters.</p>
{/template}
