{namespace soy.sea.anomaly.page}

/**
 * Home page
 */
{template .homeRegion}
    

<img src="http://fc07.deviantart.net/fs39/i/2008/332/d/8/Inside_the_Sea_Anemone_by_ineedfire.jpg"
 alt="Fun with metrics" width="400" height="225">
    <img>
{/template}
