{namespace soy.sea.anomaly.page}

/**
 * Home page
 */
{template .homeRegion}
    

<img src="https://www.colourbox.com/preview/1684853-lionfish-pterois-mombasae-on-a-black-background.jpg"
 alt="Fun with metrics" width="400" height="225">
    <img>
{/template}
