/*
 * Don't add custom CSS unless you absolutely have to...  usually in response to shared JavaScript components
 * which rely on jive.css...
 */

/* Tenant/user picker: eliminate list item numbering */
li.j-listitem {
    list-style: none;
}

/* theme */
body {
    background-image: url(/ui/static/img/bkg.jpg);
}

/* Used by event stream */
div.pad {
    padding: 3px;
}

/* Used by event stream and view inspection to allow for links in JSON dumps */
div.pre-ish {
    font-family:courier, "courier new", monospace;
    font-size:1em;
    background-color: #f5f5f5;
    color:#000;
    white-space: pre-wrap;
    border-radius: 4px;
}

div.container {
    width: 100% !important;
}

form#anom-query-filters .anom-query-advanced { display: none; }
form#anom-query-filters.anom-query-show-advanced tr.anom-query-advanced { display: table-row; }
form#anom-query-filters.anom-query-show-advanced td.anom-query-advanced { display: table-cell; }

table#anom-events td, table#anom-events th { display: none; }
table#anom-events.anom-show-datacenter .anom-event-datacenter { display: table-cell; }
table#anom-events.anom-show-cluster .anom-event-cluster { display: table-cell; }
table#anom-events.anom-show-host .anom-event-host { display: table-cell; }
table#anom-events.anom-show-service .anom-event-service { display: table-cell; }
table#anom-events.anom-show-instance .anom-event-instance { display: table-cell; }
table#anom-events.anom-show-version .anom-event-version { display: table-cell; }
table#anom-events.anom-show-time .anom-event-time { display: table-cell; }
table#anom-events.anom-show-thread .anom-event-thread { display: table-cell; }
table#anom-events.anom-show-level .anom-event-level { display: table-cell; }
table#anom-events.anom-show-message .anom-event-message { display: table-cell; }

/*
<th class="anom-event-datacenter">Datacenter</th>
<th class="anom-event-cluster">Cluster</th>
<th class="anom-event-host">Host</th>
<th class="anom-event-service">Service</th>
<th class="anom-event-instance">Instance</th>
<th class="anom-event-version">Version</th>
<th class="anom-event-time">Time</th>
<th class="anom-event-thread">Thread</th>
<th class="anom-event-level">Level</th>
<th class="anom-event-message">Message</th>
*/


div.anomaly-hs-selector {
    display: none;
    z-index: 2000;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.anomaly-hs-choice {
    border-radius: 2px;
    background-color: #999;
    color: #fff;
    padding: 2px;
}

input.anomaly-hs-field-broken {
    border-color: red;
    border-style: solid;
}