{namespace soy.miru.page}

/**
 * Home page
 */
{template .homeRegion}
    

<img src="http://kaufmann-mercantile.com/images/three-lumberjack.jpg"
 alt="Fun in the lumber yard" width="400" height="225">
    <img>
{/template}
