{namespace soy.miru.page}

/**
 * Home page
 */
{template .homeRegion}
    

<img src="http://jlchospitality.com/wp-content/uploads/2012/12/Lumberyard-MTB-Park-Portland-429962_354840967881358_203110449721078_1162550_1907010134_n.jpg"
 alt="Fun in the lumber yard" width="400" height="225">
    <img>
{/template}
