{namespace soy.stumptown.page}

/**
 * Home page
 */
{template .homeRegion}
    

<img src="http://clickalifecoachblog.com/wp-content/uploads/2015/01/Tree-Stump-Owl-Bird-HD-Wallpaper.jpg"
 alt="Fun in the lumber yard" width="400" height="225">
    <img>
{/template}
