/*
 * Don't add custom CSS unless you absolutely have to...  usually in response to shared JavaScript components
 * which rely on jive.css...
 */

/* Tenant/user picker: eliminate list item numbering */
li.j-listitem {
    list-style: none;
}

/* theme */
body {
    background-image: url(/ui/static/img/bkg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #d0d0d0;
    background-attachment: fixed;
}

/* Used by event stream */
div.pad {
    padding: 3px;
}

/* Used by event stream and view inspection to allow for links in JSON dumps */
div.pre-ish {
    font-family:courier, "courier new", monospace;
    font-size:1em;
    background-color: #f5f5f5;
    color:#000;
    white-space: pre-wrap;
    border-radius: 4px;
}

div.container {
    width: 100% !important;
}

.side-by-side > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
}

div.wiki-hs-selector {
    display: none;
    z-index: 2000;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.wiki-hs-choice {
    border-radius: 2px;
    background-color: #999;
    color: #fff;
    padding: 2px;
}

input.wiki-hs-field-broken {
    border-color: red;
    border-style: solid;
}

form#stump-query-filters .stump-query-advanced { display: none; }
form#stump-query-filters.stump-query-show-advanced tr.stump-query-advanced { display: table-row; }
form#stump-query-filters.stump-query-show-advanced td.stump-query-advanced { display: table-cell; }

table#stump-rt-events td, table#stump-rt-events th { display: none; }
table#stump-rt-events.stump-show-datacenter .stump-event-datacenter { display: table-cell; }
table#stump-rt-events.stump-show-cluster .stump-event-cluster { display: table-cell; }
table#stump-rt-events.stump-show-host .stump-event-host { display: table-cell; }
table#stump-rt-events.stump-show-service .stump-event-service { display: table-cell; }
table#stump-rt-events.stump-show-instance .stump-event-instance { display: table-cell; }
table#stump-rt-events.stump-show-version .stump-event-version { display: table-cell; }
table#stump-rt-events.stump-show-time .stump-event-time { display: table-cell; }
table#stump-rt-events.stump-show-thread .stump-event-thread { display: table-cell; }
table#stump-rt-events.stump-show-level .stump-event-level { display: table-cell; }
table#stump-rt-events.stump-show-message .stump-event-message { display: table-cell; }

/*
<th class="stump-event-datacenter">Datacenter</th>
<th class="stump-event-cluster">Cluster</th>
<th class="stump-event-host">Host</th>
<th class="stump-event-service">Service</th>
<th class="stump-event-instance">Instance</th>
<th class="stump-event-version">Version</th>
<th class="stump-event-time">Time</th>
<th class="stump-event-thread">Thread</th>
<th class="stump-event-level">Level</th>
<th class="stump-event-message">Message</th>
*/


.content-card {
  -webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
  	background-color: #fff;
  	-webkit-box-shadow: 0 2px 5px rgba(1,1,1,.1);
  	-moz-box-shadow: 0 2px 5px rgba(1,1,1,.1);
  	box-shadow: 0 2px 5px rgba(1,1,1,.1);
  	overflow: hidden;
    padding: 15px;
    margin-bottom: 10px;
}


.user-card {
  -webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
  	background-color: #fff;
  	-webkit-box-shadow: 0 2px 5px rgba(1,1,1,.1);
  	-moz-box-shadow: 0 2px 5px rgba(1,1,1,.1);
  	box-shadow: 0 2px 5px rgba(1,1,1,.1);
  	overflow: hidden;
  	text-align: center;
  	padding-bottom: 30px;
  	margin-bottom: 20px;
}


.user-card .user-header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  /* This positions the canvas under the text */
  z-index: 1;
}
.user-card .user-avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.user-card .user-avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}



.direct-rate {
	margin-right: 5px;
	font-size: 16px;
}

.wrap-direct-meta .direct-rate{
	padding-left: 0px;
}

.direct-item{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 5px rgba(1,1,1,.1);
	-moz-box-shadow: 0 2px 5px rgba(1,1,1,.1);
	box-shadow: 0 2px 5px rgba(1,1,1,.1);
	overflow: hidden;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.direct-item-premium{
	background: #fffac1;
}
.direct-item:hover{
	-webkit-box-shadow: 0 0px 10px rgba(1,1,1,.2);
	-moz-box-shadow: 0 0px 10px rgba(1,1,1,.2);
	box-shadow: 0 0px 10px rgba(1,1,1,.2);
}
.direct-item h3{
	margin-top: 0px !important;
	padding: 0px 20px;
}
.direct-item h3 a{
	color: #08304a;
	font-size: 16px;
}
.direct-item h3 a:hover{
	color: #30cc72;
}
.direct-thumb{
	height: 188px;
	border-bottom: 1px solid #bfc8cb;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	display: inline;
	margin-bottom: 0px;
}
.direct-category{
	display: inline-block;
	width: 49px;
	height: 61px;
	line-height: 56px;
	text-align: center;
	background: url(/ui/static/img/pin.png) no-repeat;
	margin: -28px 0px 10px;
}
.direct-category i{
	color: #FFFFFF;
}
.label-bottom{
	width: 30px;
	height: 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #30cc72;
	display: block;
	margin: 5px auto 15px;
}
.direct-field{
	font-size: 14px;
	color: #859baa;
	line-height: 24px;
	padding: 0px 20px;
}


.panel-default-overlay-up {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 10%;
    margin: 0 auto;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}