{namespace soy.miru.section}

/**
 * Host entry section
 *
 * @param host
 * @param heartbeat
 */
{template .hostEntryRegion}
    <tr>
        <td>
            <a href="/ui/hosts/{$host.logicalName|escapeUri}#focus">{$host.logicalName}</a>
        </td>
        <td>{$heartbeat} ms</td>
    </tr>
{/template}
