/*
 * Don't add custom CSS unless you absolutely have to...  usually in response to shared JavaScript components
 * which rely on jive.css...
 */

/* Tenant/user picker: eliminate list item numbering */
li.j-listitem {
    list-style: none;
}

/* theme */
body {
    background-image: url(/static/img/squairy_light.png);
}

/* Used by event stream */
div.pad {
    padding: 3px;
}

/* Used by event stream and view inspection to allow for links in JSON dumps */
div.pre-ish {
    font-family:courier, "courier new", monospace;
    font-size:1em;
    background-color: #f5f5f5;
    color:#000;
    white-space: pre-wrap;
    border-radius: 4px;
}