{namespace soy.siphon.page}

/**
 */
{template .home}
    <div class="panel panel-default">
        <div class="panel-heading">Miru Siphon</div>
            <div class="panel-body">
                <pre>
                    Welcome to Miru Siphon a service that helps index data into Miru!
                </pre>
            </div>
        </div>
    </div>
{/template}
