{namespace soy.wikimiru.page}

/**
 */
{template .homeRegion}
    <div class="panel panel-default">
        <div class="panel-heading">WikiMiru</div>
            <div class="panel-body">
                <pre>
                    Welcome to Wiki Miru a service that show cases Miru by indexing WikiDumps!
                </pre>
            </div>
        </div>
    </div>
{/template}
